.pytest_cache
build/
dist/
gapml.egg-info
__pycache__
tests/__pycache__
train/.ipynb_checkpoints/
site/
templates/

.ipynb_checkpoints/
flower_photos/
flower_photos_t2/
flower.h5
flower2.h5
flower.jpg
flower2.jpg
move_files.ipynb
report.ipynb
h5_test.ipynb
Gap_Next.ipynb

sessionHeck.ipynb
train/tut_files/
gapml/vision2.py
tests/Testing_Dics.ipynb