.pytest_cache
build/
dist/
gapml.egg-info
__pycache__
tests/__pycache__
train/.ipynb_checkpoints/
site/
templates/

.ipynb_checkpoints/
flower_photos/
flower_photos_spl/
flower.h5
move_files.ipynb
report.ipynb
*.model
*.stackdump
*.h5
*.sqlite
*.suo
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/config/applicationhost.config
/sample_submission.csv
/tests
/.vscode
/imagenet/.vscode
/imagenet
