.pytest_cache
build/
dist/
gapml.egg-info
__pycache__
tests/__pycache__
train/.ipynb_checkpoints/
site/
templates/

.ipynb_checkpoints/
flower_photos_spl/
flower_photos_spt/
flower.h5
flower2.h5
flower.jpg
flower2.jpg
move_files.ipynb
report.ipynb

sessionHeck.ipynb
train/tut_files/